<!DOCTYPE html>
<html>
<head>
    <title>{{ title }} - purrfection</title>
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet"
    type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
</head>
<body>
    <div class="page">
        <h1><em>purr</em>fection</h1>
        <div class="info">
            {% for message in get_flashed_messages() %}
            <div class="flash">
                {{ message }}
            </div>{% endfor %}
        </div>
        <div class="content">
            {% block content %}{% endblock %}
        </div>
    </div>
</body>
</html>